<h1>Bienvenue sur les newsletter</h1>

<h2>Inscrivez-vous à une newsletter !</h2>

<ul>
    {% for newsletter in newsletters %}
        <li> <a href="{{ path('app_register_news_letter', {'id': newsletter.id }) }}">{{ newsletter.name }}</a> </li>
    {% endfor %}
</ul>