{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.email }}! ✅</h1>

    Voici vos abonnements :
    <ul>
        {% for newsletter in user.newsletters %}
            <li> {{ newsletter.name }} <a href="{{ path('app_user_delete_newsletter', {'idUser': user.id, 'idNewsletter' : newsletter.id} ) }}">Se désinscrire</a> </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_news_letter') }}">Retour à la liste de newsletter</a>
</div>
{% endblock %}
